.header{
      width:100%;
      height:100px;
      background-color:rgb(65, 98, 219);
      display:flex;
      align-items:center;
      justify-content:center;
}

.title{
      font-size:30px;
      color:white;
}

.addBtn{
     position:fixed;
     top:25px;
     right:50px;
     color:white;
     font-size:40px;
     
}