*{
      box-sizing: border-box;
}
.addInputBox{
      height:60px;
      display:flex;
      align-items:center;
      padding:30px;
}

.addInput{
      flex-grow:1;
      width:60%;
      height:40px;
      line-height:40px;
      font-size:20px;
}
.confirmBtn{
      width:80px;
      height:40px;
      background-color:rgb(65, 98, 219);
      font-size:20px;
      color:white;
      border-radius:5px;
      margin-left:20px;
      border:0px;
}