
.todoItem{
      height:40px;
      display:flex;
      align-items:center;
      margin:5px 0;
}

.checkBox{
      width:20px;
      height:20px;
      flex-shrink:0;
}
.content{
      height:30px;
      line-height:30px;
      flex-grow:1;
      font-size:20px;
      overflow: hidden;
      text-overflow: ellipsis;/* 文本溢出省略号 */
      margin:0 10px;/* 上下 左右 */
}
.done{
      text-decoration:line-through;
}
.btn{
      margin:0 10px;/* 上下 左右 */
      width:50px;
      height:30px;
      color:white;
      font-size:15px;
      border:0px;
      border-radius:3px;
      flex-shrink:0;
}
.btn-check{
      background-color:rgb(65, 98, 219);
}
.btn-edit{
      background-color:orange;
}
.btn-delete{
      background-color:red;
}
