.modal{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.5); /* 只让背景透明 */
      display:flex;
      align-items:center;
      justify-content:center;
      z-index:1;
}

.inner{
      width:350px;
      height:400px;
      background-color:white;
      border-radius:5px;
}

.modalHeader{
      height:50px;
      background-color:rgb(65, 98, 219);
      text-align:center;
      font-size:20px;
      line-height:60px;
      color:white;
}

.modalContent{
      padding:0 15px;
      width:100%;
      height:350px;
      display:flex;
      flex-direction:column;
      position:relative;
}