
.text{
      width:300px;
      font-size:20px;
      margin: 10px 0;
}

.closeBtn{
      width:70px;
      height:40px;
      position:absolute;
      left:145px;
      bottom:13px;
      font-size:20px;
      color:white;
      background-color:rgb(65, 98, 219);
      border:0px;
      border-radius:3px;
      

}

