.header{
      width:100%;
      height:100px;
      background-color:rgb(65, 98, 219);
      display:flex;
      align-items:center;
      justify-content:center;
}

.title{
      font-size:30px;
      color:white;
}

.addBtn{
     position:fixed;
     top:25px;
     right:50px;
     color:white;
     font-size:40px;
     cursor: pointer;
}

/* .search-icon {
      position:fixed;
      top:43px;
      left:50px;
  width: 32px;
  height: 32px;
  color: white;          /* 控制 SVG 颜色 */
  /* display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon svg {
  width: 100%;
  height: 100%;
} */ 