.footer{
      width:100%;
      height:30px;
      position:fixed;
      bottom:15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}
.footer div{
      width:32px;
      height:32px;
      border-radius:50%;
      margin :0 100px;
      cursor: pointer;
}

.footer svg{
  width: 100%;
  height: 100%;
  color: #333;

}

.footer div:hover {
  color: rgb(127, 124, 124);
  transform: scale(1.1);
}

.footer div:active {
  transform: scale(0.95);
}
